.config*
.q2pro/
.q2proded/
.baseq2/
q2rtx
q2rtxded
nac
nacded
game*.so
*.swp
build*/
shader_vkpt
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
.vs
*.dll
*.so
*.log
music/
*.sublime-*

*.tmp
*.bak
*.obj

q2config.cfg
save
*/docs
baseq2/
basenac/

CMakeSettings.json